<header id="head" class="secondary"></header>
<div class="container">
  <header class="codrops-header text-center">
    <h1>Events</h1>
  </header>
  <section class="grid3d horizontal" id="grid3d">
    <div class="grid-wrap">
      <div class="grid">

        <figure> <%= image_tag "paper-presentation.jpg" %> </figure>

        <figure><%= image_tag "alcatraz.jpg" %> </figure>
        <figure><%= image_tag "general-quiz.jpg" %> </figure>
        <figure><%= image_tag "nut-and-bolt.jpg" %> </figure>
        <figure><%= image_tag "megatronite.jpg" %> </figure>
        <figure><%= image_tag "proficient-entrepreneur.jpg" %> </figure>
        <figure><%= image_tag "scavenger-hunt.jpg" %> </figure>
        <figure><%= image_tag "connections.jpg" %> </figure>
        <figure><%= image_tag "wordquest.jpg" %> </figure>
        <figure><%= image_tag "sold.jpg" %> </figure>
        <!--<figure><img src="img/8.jpg" alt="img08"/></figure>-->
        <!--<figure><img src="img/9.jpg" alt="img09"/></figure>-->
        <!--<figure><img src="img/6.jpg" alt="img06"/></figure>-->
        <!--<figure><img src="img/7.jpg" alt="img07"/></figure>-->
      </div>
    </div><!-- /grid-wrap -->
    <div class="content">
      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'paper-presentation.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>Paper Presentation</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>Presenting your Ideas is an ART. Paper presentation is an event that brings out the scientist inside you in a proficient way. Rightly it may be considered as stage to provoke your innate talents. This provides an opportunity to showcase your ideas and proves your capabilities unveiling your creativity. After all, an idea not presented is just an empty void.
              </p>
              <div class="margin-left-10">
                <li>Participants can participate in terms of two or three.</li>
                <li>Teams will have to deliver their presentation within 10 minutes and followed by 5 minutes Q\A session.</li>
                <li>Send your abstract to <a href="#">haribharathi777@gmail.com</a> on or before 5th March '16.</li>
              </div>
              <h5 class="event-title">Topics</h5>
              <div class="margin-left-10">
                <li>Super conductive materials.</li>
                <li>Advances in Material science for energy applications(fuel cells). </li>
                <li>Novel applications of Nanotechnology.</li>
                <li>Advances in Non-Destructive Evaluation of Composite materials.</li>
                <li>3D printing technology of materials.</li>
                <li>Fracture mechanics and failure analysis. </li>
                <li>Novelty in Hydrogen storage.</li>
                <li>Bio based I.C. Engines.</li>
                <li>Radioactive Shielding Technologies.</li>
              </div>
              <h5 class="event-title">Rules</h5>
              <div class="margin-left-10">
                <li>Abstract must be submitted on or before 5th March '16.</li>
                <li>Selected papers will be intimated and full papers should be submitted on or before 12th March '16. </li>
                <li>The presentation should be in .ppt or .pptx format.  </li>
                <li>An organizer reserves the right to change or update the rules of the contest at any point of time and will do notify the participants. However, it is ultimately the responsibility of the teams to keep themselves updated. </li>
                <li>Judges decision is final.  </li>
              </div>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>T. HARI BHARATHI - 9952624715 </p>
              </div>
            </div>
          </div>
        </div>
        <!--<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>-->
        <!--<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>-->
      </div>
      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'alcatraz.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>Alcatraz v 2.0</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>Have you ever thought of being caught in a prison without doing any bad stuffs. You think it may be a dream in your deep sleep. But here tou are in the prison, gain your friends help to escape from the prison. using the clues provided to you.
              </p>

              <h5 class="event-title">Rules</h5>
              <div class="margin-left-10">
                <li>The team may have 3 to 4 members.</li>
                <li>Event consists of 2 rounds.</li>
                <li>Organisers decision is final.</li>
              </div>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Karthick - 8122162622 </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'general-quiz.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>General Quiz</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>This is an one shot to Glory format quiz. (Full written quiz).
                A General AV quiz which encompasses Science, Entertainment and everything that is interesting in this world. Sometimes beyond.
              </p>

              <h5 class="event-title">Rules</h5>
              <div class="margin-left-10">
                <li>Teams of 2 or 3. </li>
                <li>This will be a full written quiz.</li>
                <li>Organisers decision is final.</li>
              </div>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Karthick - 8122162622 </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'nut-and-bolt.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>NUT AND BOLT</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>Are you crazy about how stuff around you works? are you a person with good reflexes? are you a personality who enjoys being practical? here comes a platform for such novel personalities..make your way to "NUTS & BOLTS", which is gonna be a tech-fun..!!</p>

              <h5 class="event-title">Rules</h5>
              <div class="margin-left-10">
                <li><b>Round 1:</b> This round is all about triggering your left brain. aptitude,logical questions, basic engineering are such types.</li>
                <li><b>Round 2:</b> So, here, you will be provided with numerous dismantled parts from which you have to assemble as many objects as you can. (everything will be provided and no tools required)</li>
                <li>Organisers decision is final.</li>
              </div>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Roshini-9566211341</p>
                <p>Priya-7502185052</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'megatronite.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>MEGATRONITE</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>Be ready to exercise the grey matter!  An all in one event that includes Anagrams , Rebus, 4 pics one wo rd, word search with riddles & grandmaster. The event may also contain an element of surprise that will blow your minds.</p>

              <h5 class="event-title">Rules</h5>
              <div class="margin-left-10">
                <li>2-3 participants per team.</li>
                <li>Bring Pencil/pen.</li>
                <li>The event will consist of 2 rounds in which all participants must be present.</li>
                <li><b>Round 1:</b> Prelims - Time duration : 40 mins. Written event that will consist of crossword, Jumbled word puzzle, rebus & guess what puzzels.
                </li>
                <li><b>Round 2:</b> Finals - The top few teams will be selected for the finals.
                  One team member will be told a word while the team mates are allowed to guess the word. The one who knows the word is allowed to only give yes or no answers while the other members can ask any 21 questions. An element of surprise will be revealed on the day of the event.
                  A theme will be given for the same on the day of the event.
                </li>
              </div>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Agraja : 9884544356</p>
                <p>Madhubala: 875456715</p>
                <p>Swetha:8903677432</p>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'proficient-entrepreneur.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>Proficient Entrepreneur</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p><b>Do you want to be entrepreneur? <br>
                Are you preparing for CAT and other competitive exams? <br>
                Are you preparing for placements? <br>
                Do you want know how corporate works? <br>
              </b>
              </p>
              <p>Then participate in it and find the answers for the above questions.

                This event is mainly conducted to test the participants management and entrepreneurship skills. And this event will be mainly useful to those who are preparing for CAT, placement and to those who want to be a successful entrepreneur. This event will train you as a real business man and will kindle your professionalism lying within you.
              </p>
              <div class="margin-left-10">
                <li><b>Round 1 - Brain Squeezer:</b>Duration: 20 minutes
                  It will be question and answering round on the topics of logical, reasoning, aptitude and also on economics and business news. Current affairs will carry more work. This will be elimination round. Based on the marks, top 20 candidates will be selected and promoted to the next round.
                </li>
                <li><b>Round 2-Cast away:</b>Duration: 90 minutes
                  It is a shipwreck round.  5 teams will be formed randomly among the selected participants from round 1. Each member of the team should assign themselves a role such as CEO, marketing manager, designer, quality inspector. Each team will be provided with the set of newspapers and will be given a real time business problem. They need to solve it by using the contents from the  newspapers and present it before the jury.According to their answer top 2 teams will be selected and rewarded.
                </li>
              </div>
              <h5 class="event-title">Rules</h5>
              <div class="margin-left-10">
                <li>Bring laptop for second round but laptop is not mandatory, it can be used only to assist you in the second round during presenting.</li>
                <li>Selected participants for second round should come on time, no extra time will be provided.</li>
                <li>Jurys decision is final and abiding</li>
                <li>In case of tie up in the first round, priority will be given to current affairs questions</li>
              </div>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Manoj - 8508588858</p>
                <p>Rahul - 8754299538</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'scavenger-hunt.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>SCAVENGER HUNT</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>The players will be given a list of clues. They should solve the clues and get all the required items within the time limit. Suppose the clue is "extinguished on your birthday" then they players should search for a birthday candle. Similarly 10 clues for 10 items will be given. The players should collect all the items and bring it within the time limit.
              </p>

              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Salomi - 8056088683</p>
                <p>Asitha - 9600036036</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'connections.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>Connections</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>The game will test on how to think rather than what to think. Each question displays four pictures linked by one word or having one word in common. The player's aim is to work out what the word is, from the given set of pictures.
              </p>

              <h5 class="event-title">Rules</h5>
              <div class="margin-left-10">
                <li><b>Round 1:</b> Each team 3 questions.... Neglecting half of them (depending on scores) remaining team enters into 2nd round (for eg: if there are 10 teams we will take 5....remaining 5 are rejected)</li>
                <li><b>Round 2:</b>Now each team gets 5 questions and half of them will be taken for final (fr eg: out of 5 we will take 2 based on scores)</li>
                <li><b>Final Round:</b>It's a buzzer round we will shoot 10 questions depending on the answering capability of the teams we will select the winner</li>
                <li>Each team should contain 4 members only.</li>
              </div>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Srinath - 9566845679</p>
                <p>Kirubakaran - 8098180761</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'wordquest.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>WordQuest</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>It is an event for two people. The game consists of three levels. The first level is Pictionary. The game is played with players trying to identify specific words from their teammates' drawings. The next level is the usual game of taboo. The objective of the game is for a player to have their partners guess the word on the player's card without using the word itself or five additional words listed on the card in one minute. In the last level the players have to  guess the word by giving three single-word clues The team which guesses maximum words in a minute wins
              </p>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Anjana - 9597297702</p>
                <p> Kirubakaran - 8098180761</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'sold.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>Sold (QPL)</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>Have you watched the ipl auction before and felt that you could have done a better selection for the team. The most formidable team on papers, which would meet all criteria, will emerge as winners.
              </p>

              <h5 class="event-title">Entry Fee: Rs.50/-</h5>
              <h5 class="event-title">Rules</h5>
              <div class="margin-left-10">
                <li>2 - 3 members per team.</li>
                <li>Premilinary round with 15 questions will be conducted and top 8 will be selected based on the score.</li>
                <li>Final auction will be conducted with the 8 teams.</li>
              </div>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Rahul Raj.S - 9952452601</p>
                <p>Arputha ArockiaRaj.V - 9942235118</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="dummy-img"></div>
        <p class="">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <div>
        <div class="dummy-img"></div>
        <p class="">Fuck The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <!--<div>
        <div class="dummy-img"></div>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <div>
        <div class="dummy-img"></div>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <div>
        <div class="dummy-img"></div>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <div>
        <div class="dummy-img"></div>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <div>
        <div class="dummy-img"></div>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <div>
        <div class="dummy-img"></div>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>-->
      <span class="loading"></span>
      <span class="icon fa fa-close close-content "></span>
    </div>
  </section>


</div><!-- /container -->

<% if  params[:controller] == 'events' %>
    <%= javascript_include_tag 'events/classie' %>
    <%= javascript_include_tag 'events/helper' %>
    <%= javascript_include_tag 'events/grid3d' %>
<% end %>
<script>
    new grid3D( document.getElementById( 'grid3d' ) );
</script>