<header id="head" class="secondary"></header>
<div class="container">
  <header class="codrops-header text-center">
    <h1>Events</h1>
  </header>
  <section class="grid3d horizontal" id="grid3d">
    <div class="grid-wrap">
      <div class="grid">

        <figure><%= image_tag "paper-presentation.jpg" %> </figure>
        <figure><%= image_tag "farfetch.jpg" %> </figure>
        <figure><%= image_tag "warning.jpg" %> </figure>
        <figure><%= image_tag "nut-and-bolt.jpg" %> </figure>
        <figure><%= image_tag "megatronite.jpg" %> </figure>
        <figure><%= image_tag "proficient-entrepreneur.jpg" %> </figure>
        <!--<figure><%= image_tag "scavenger-hunt.jpg" %> </figure>
        <figure><%= image_tag "connections.jpg" %> </figure>
        <figure><%= image_tag "wordquest.jpg" %> </figure>
        <figure><%= image_tag "sold.jpg" %> </figure>-->
        <!--<figure><img src="img/8.jpg" alt="img08"/></figure>-->
        <!--<figure><img src="img/9.jpg" alt="img09"/></figure>-->
        <!--<figure><img src="img/6.jpg" alt="img06"/></figure>-->
        <!--<figure><img src="img/7.jpg" alt="img07"/></figure>-->
      </div>
    </div><!-- /grid-wrap -->
    <div class="content">
      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'paper-presentation.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>Paper Presentation</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p><i>“You can have brilliant ideas but if you cannot get them across, your ideas will go nowhere”</i>- Lee Iacocca. So unleash your innovation and technical skills on a single platform. We present a golden opportunity to present your work before the stalwarts of scholars. This event will be an excellent platform to showcase your original and innovative ideas and comprehensive technical research and exchange views on the future research directions in various fields of science and engineering.
              </p>
              <div class="margin-left-10">
              <li>A team can consists of up to 3 people, not necessarily from the same college.</li>
              <li>No participant can be a part of more than 1 team.</li>
              <li>Teams will have to deliver their presentation within 8 minutes and followed by 3 minutes Q/A session.</li>

                <li>Send your abstract to <a href="#">to hannaponraj@gmail.com or anju.ethiraj@gmail.com</a>.</li>
              </div>
              <h5 class="event-title">Topics</h5>
              <div class="margin-left-10">
                <li>Industrial Application of Nanotechnology in India</li>
              <li>Radioactive Shielding Technology.</li>
              <li>Fracture Mechanism and Failure Analysis.</li>
              <li>Scramjet Rocket Engine.</li>
              <li>MEMS Fabrication Techniques.</li>
              <li>Thorium- Future of Atomic Energy in India (Nuclear Materials).</li>
              <li>E-Waste Management (Recycling/ Disposal/ Facts/ Problems/ Solutions).</li>
              <li>3D printing Technology of Materials.</li>
              <li>Advances in Material Science for Energy Applications (fuel cells).</li>

              </div>
              <h5 class="event-title">Rules</h5>
              <div class="margin-left-10">
               <li>Phase 1: The participants are expected to send their abstract within one page.</li>
<li>Selected papers should be intimated and then the full papers should be submitted on the given date.</li>
<li>The presentation should be in .ppt or .pptx format.</li>
<li>Phase 2: Two hard copies of the full paper are to be submitted before the presentation.</li>
<li>An organizer reserves the right to change or update the rules of the contest at any point of time and will do notify the participants.However, it is ultimately the responsibility of the teams to keep themselves updated.</li>
 <li>Judges decisions is final.</li>

              </div>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>E.Anju  9791283895 </p>
                  <p>P.Hanna 8428134820</p>
              </div>
            </div>
          </div>
        </div>
        <!--<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>-->
        <!--<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>-->
      </div>
      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'farfetch.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>Alcatraz v 2.0</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>This event is a slightly modified form of treasure hunt where the participants will go in search of trees for clues.Clues will be placed  on or around the tress at different locations in the campus.The clues will be pasted only on the trees which botanical name is displayed.Initially,when the event starts ,participants will be given  clue(botanical name of the tree) explicitly which lead them to the first tree.On reaching the appropriate location,the participants can find the clue which ultimately  lead them to the next tree.The clue is nothing but botanical name of the tree.Along with the clue,a question will be pasted in each tree.As soon as the participants find the aswers for the question,the participants must send a text message to the event organizer.Similarly,the participants must find the answers for about 7 questions which are pasted in different trees and sent message to the organizer.All the answers of the question constitutes the  final clue.The pariticipants who find the answer of the final clue will be the winner
              </p>

              <h5 class="event-title">Rules</h5>
              <div class="margin-left-10">
                <li>Number of participants:2-5 members per team</li>
                <li>The participants are strictly prohibited to tear off the clues pasted on the trees. </li>
              </div>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Nivedhitha -9444732958 </p>
                <p>Dinesh -7401399775 </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'warning.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>General Quiz</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>This event consists of three rounds. In the first round, There are 15 one minute challenge events like rebus,anagram,puzzle,left brain,memory game etc.,From that fifteen events,any three events will be conducted between two teams.The team which gives the correct answers for more events will be selected for the next round.Finally six teams will be selected for the next round. In the second round,  The participants must find the correct sequence from the shuffled one which are displayed on the slide.The team which gives the  correct answer in less time will be selected for the next round.Finally,three teams will be selected for the finals.  Third round-''out of the box''</p>
              <p>A topic will be given to the three teams which are selected for the finals, This round is a platform to the partipants to unleash thier new ideas and thoughts on the given topic and the participants have to justify their ideas.And the winner of this round "out of the box" is the winner of the Event WARNING. 
              </p>

              <h5 class="event-title">Rules</h5>
              <div class="margin-left-10">
                <li>Number of participants: only 2 persons per team.</li>
                
              </div>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Nivatha-9176653224  </p>
                <p>Ashwath-9444956655 </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'nut-and-bolt.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>NUT AND BOLT</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>Are you crazy about how stuff around you works? are you a person with good reflexes? are you a personality who enjoys being practical? here comes a platform for such novel personalities..make your way to "NUTS & BOLTS", which is gonna be a tech-fun..!!</p>

              <h5 class="event-title">Rules</h5>
              <div class="margin-left-10">
                <li><b>Round 1:</b> This round is all about triggering your left brain. aptitude,logical questions, basic engineering are such types.</li>
                <li><b>Round 2:</b> So, here, you will be provided with numerous dismantled parts from which you have to assemble as many objects as you can. (everything will be provided and no tools required)</li>
                <li>Organisers decision is final.</li>
              </div>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Nithin Balaji: </p>
                <p>Harish: </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'megatronite.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>MEGATRONITE</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>Be ready to exercise the grey matter!  An all in one event that includes Anagrams , Rebus, 4 pics one wo rd, word search with riddles & grandmaster. The event may also contain an element of surprise that will blow your minds.</p>

              <h5 class="event-title">Rules</h5>
              <div class="margin-left-10">
                <li>2-3 participants per team.</li>
                <li>Bring Pencil/pen.</li>
                <li>The event will consist of 2 rounds in which all participants must be present.</li>
                <li><b>Round 1:</b> Prelims - Time duration : 40 mins. Written event that will consist of crossword, Jumbled word puzzle, rebus & guess what puzzles.
                </li>
                <li><b>Round 2:</b> Finals - The top few teams will be selected for the finals.
                  One team member will be told a word while the team mates are allowed to guess the word. The one who knows the word is allowed to only give yes or no answers while the other members can ask any 21 questions. An element of surprise will be revealed on the day of the event.
                  A theme will be given for the same on the day of the event.
                </li>
              </div>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Kalai: 8300146898</p>
                <p>Arunraj: 7401480240</p>
                <p>Sathyan: 834464641</p>
                <p>Kirupakaran: 8098190861</p>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'proficient-entrepreneur.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>Proficient Entrepreneur</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p><b>Do you want to be entrepreneur? <br>
                Are you preparing for CAT and other competitive exams? <br>
                 Come and participate in our event to improve your management and entrepreneurship skills.This event will help you to become a real business man and kindle your professionalism.<br>
              </b>
              </p>
              <p>

                The event consists of two rounds
              </p>
              <div class="margin-left-10">
                <li><b>Round 1</b><br>The participants have to answer for the objective type questions based on logical,reasoning and aptitude.This will be the elimination round.
                </li>
                <li><b>Round 2</b><br>The selected participants will be given a real time business problem.The participant with the best solution will be rewarded.
                </li>
              </div>
              <!--<h5 class="event-title">Rules</h5>
              <div class="margin-left-10">
                <li>Bring laptop for second round but laptop is not mandatory, it can be used only to assist you in the second round during presenting.</li>
                <li>Selected participants for second round should come on time, no extra time will be provided.</li>
                <li>Jurys decision is final and abiding</li>
                <li>In case of tie up in the first round, priority will be given to current affairs questions</li>
              </div>-->
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Will be updated</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'scavenger-hunt.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>SCAVENGER HUNT</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>The players will be given a list of clues. They should solve the clues and get all the required items within the time limit. Suppose the clue is "extinguished on your birthday" then they players should search for a birthday candle. Similarly 10 clues for 10 items will be given. The players should collect all the items and bring it within the time limit.
              </p>

              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Salomi - 8056088683</p>
                <p>Asitha - 9600036036</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'connections.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>Connections</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>The game will test on how to think rather than what to think. Each question displays four pictures linked by one word or having one word in common. The player's aim is to work out what the word is, from the given set of pictures.
              </p>

              <h5 class="event-title">Rules</h5>
              <div class="margin-left-10">
                <li><b>Round 1:</b> Each team 3 questions.... Neglecting half of them (depending on scores) remaining team enters into 2nd round (for eg: if there are 10 teams we will take 5....remaining 5 are rejected)</li>
                <li><b>Round 2:</b>Now each team gets 5 questions and half of them will be taken for final (fr eg: out of 5 we will take 2 based on scores)</li>
                <li><b>Final Round:</b>It's a buzzer round we will shoot 10 questions depending on the answering capability of the teams we will select the winner</li>
                <li>Each team should contain 4 members only.</li>
              </div>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Srinath - 9566845679</p>
                <p>Kirubakaran - 8098180761</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'wordquest.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>WordQuest</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>It is an event for two people. The game consists of three levels. The first level is Pictionary. The game is played with players trying to identify specific words from their teammates' drawings. The next level is the usual game of taboo. The objective of the game is for a player to have their partners guess the word on the player's card without using the word itself or five additional words listed on the card in one minute. In the last level the players have to  guess the word by giving three single-word clues The team which guesses maximum words in a minute wins
              </p>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Anjana - 9597297702</p>
                <p> Kirubakaran - 8098180761</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'sold.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>Sold (QPL)</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>Have you watched the ipl auction before and felt that you could have done a better selection for the team. The most formidable team on papers, which would meet all criteria, will emerge as winners.
              </p>

              <h5 class="event-title">Entry Fee: Rs.50/-</h5>
              <h5 class="event-title">Rules</h5>
              <div class="margin-left-10">
                <li>2 - 3 members per team.</li>
                <li>Premilinary round with 15 questions will be conducted and top 8 will be selected based on the score.</li>
                <li>Final auction will be conducted with the 8 teams.</li>
              </div>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Rahul Raj.S - 9952452601</p>
                <p>Arputha ArockiaRaj.V - 9942235118</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="dummy-img"></div>
        <p class="">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <div>
        <div class="dummy-img"></div>
        <p class="">Fuck The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <!--<div>
        <div class="dummy-img"></div>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <div>
        <div class="dummy-img"></div>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <div>
        <div class="dummy-img"></div>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <div>
        <div class="dummy-img"></div>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <div>
        <div class="dummy-img"></div>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <div>
        <div class="dummy-img"></div>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>-->
      <span class="loading"></span>
      <span class="icon fa fa-close close-content "></span>
    </div>
  </section>


</div><!-- /container -->

<% if  params[:controller] == 'events' %>
    <%= javascript_include_tag 'events/classie' %>
    <%= javascript_include_tag 'events/helper' %>
    <%= javascript_include_tag 'events/grid3d' %>
<% end %>
<script>
    new grid3D( document.getElementById( 'grid3d' ) );
</script>