<header id="head" class="secondary"></header>
<div class="container">
  <header class="codrops-header text-center">
    <h1>Online Events</h1>
  </header>
  <section class="grid3d horizontal" id="grid3d">
    <div class="grid-wrap">
      <div class="grid">

        <figure class="online-figure"> <%= image_tag "shoot-the-selfie.jpg" %> </figure>

        <figure class="online-figure"><%= image_tag "instinctive-cricketer.jpg" %> </figure>
        <!--<figure><img src="img/8.jpg" alt="img08"/></figure>-->
        <!--<figure><img src="img/9.jpg" alt="img09"/></figure>-->
        <!--<figure><img src="img/6.jpg" alt="img06"/></figure>-->
        <!--<figure><img src="img/7.jpg" alt="img07"/></figure>-->
      </div>
    </div><!-- /grid-wrap -->
    <div class="content">
      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'shoot-the-selfie.jpg', :class => 'img-responsive center-block event-image' %>
          <h1>Shoot The Selfie</h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>“Shoot the selfie” is an online photographic event where the participants send their Group-Selfies a.k.a (Groupies) to <span class="yellow">shoottheselfie@gmail.com</span>shoottheselfie@gmail.com. The groupies will be uploaded in the official Quanta facebook webpage,
                <a href="www.facebook.com/cegquanta" target="_blank">www.facebook.com/cegquanta</a>
              </p>

              <h5 class="event-title">Rules</h5>
              <div class="margin-left-10">
                <li>A groupie should contain atleast 4 heads :P</li>
                <li>Final decision will be selected based on the maximum number of likes and creativity. </li>
                <li>The judgement of the officials will be the final decision.</li>
                <li>4.	The results will be published on March 21.</li>
              </div>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Denijoe - 7598001602 </p>
                 <p>Vibin -  9442324276
                </p>
              </div>
            </div>
          </div>
        </div>
        <!--<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>-->
        <!--<p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>-->
      </div>
      <div>
        <div class="col-md-12 text-center">
          <%= image_tag 'instinctive-cricketer.jpg', :class => 'img-responsive center-block event-image' %>
          <h1><a href="https://docs.google.com/forms/d/1gACbeFgMZ9EK0YZuGuI4mP0oF6uDw50Dmo5nXxD5dWM/viewform?c=0&w=1&usp=mail_form_link" target="_blank" class="btn btn-danger btn-lg">Click to Open Questions</a></h1>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="event-title panel-title">Description</p>
              <p>Test your natural instinct in cricket. 10 questions about the upcoming T20 world cup will be given to each participant. Test your ability to predict the results of the world cup before the players set foot on the ground. Based on your instinct, foretell the answers and win exciting prizes.
              </p>

              <h5 class="event-title">Rules</h5>
              <div class="margin-left-10">
                <li>All questions are compulsory.</li>
                <li>The person who has selected the answers which are closest to the actual results is the winner.</li>
                <li>The results to the event will be published in the Quanta CEG official Facebook page.</li>
              </div>
              <h5 class="event-title">Contact</h5>
              <div class="margin-left-10">
                <p>Ajay Kumar - 9600627775 </p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--<div>
        <div class="dummy-img"></div>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <div>
        <div class="dummy-img"></div>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <div>
        <div class="dummy-img"></div>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <div>
        <div class="dummy-img"></div>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <div>
        <div class="dummy-img"></div>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>
      <div>
        <div class="dummy-img"></div>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
      </div>-->
      <span class="loading"></span>
      <span class="icon fa fa-close close-content "></span>
    </div>
  </section>


</div><!-- /container -->

<% if  params[:controller] == 'events' ||  params[:controller] == 'online_events' %>
    <%= javascript_include_tag 'events/classie' %>
    <%= javascript_include_tag 'events/helper' %>
    <%= javascript_include_tag 'events/grid3d' %>
<% end %>
<script>
    new grid3D( document.getElementById( 'grid3d' ) );
</script>